* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*outline: solid 1px red;*/
}
/*---------First page---------*/
.box-container{
    position: relative;
}
section.to-start{
    position: absolute;
    bottom: 50px;
    right: 0;
    left: 0;
}
section.to-start .box-botton{
    
}
section.to-start a#logIn{
    position: absolute;
    right: 0; 
    border: solid 1px #fff;    
}
section.to-start a#signUp{
    position: absolute;
    background: linear-gradient(to right, #7E00BF , #D800BF);
}
a#logIn, a#signUp{
    text-decoration: none;
    padding: 10px 30px;
    color: #fff;
    border-radius: 3px;
}
/*------END---First page---------*/
/*------------Sign Up-----------*/
#input-box{
    position: relative;
}
#input-box input{
    padding-left: 35px;
}
.icon-mail {
    position: absolute;
    left: 10px;
    top: 30px;
    color: #7D7D89;
    font-size: 18px;
}
.icon-profile-male {
    color: #7D7D89;
    position: absolute;
    left: 10px;
    top: 8px;
    border: 1px solid #7D7D89;
    border-radius: 40%;
    line-height: 18px;
    
}

input#iAgree{
    color: #95CFE8;
    padding: 0;
    margin: 0;
} 
span#termsLyft{
    color: #95CFE8;
}
#btn-next-sign-Up{
    background-color: #FC1EBE;
    color: #fff;
    font-size: 25px;
    padding: 20px 0;
    display: block;
    margin-top: 30px; 
    text-align: center;
}
/*---------END---Sign Up-----------*/
/*------------Sign Up Number-----------*/
#code{
    position: absolute;
    left: 60px;
    top: 9px;
    z-index: 10;
}
#phone-number{
    padding-left: 35px;
}
/*---------END---Sign Up Number-----------*/
/*------------select-country-----------*/
section.select-country h4{
    background-color: #EFEFF4;  
    padding: 10px 20px;   
}
section.select-country li{
    list-style: none;    
}
#code-country{
    visibility: hidden;
}
/*---------END---select-country-----------*/
/*------------app-----------*/
section.cars-nearby{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
button#yourPosition{
    width: 98%;
    background-color: #fff;
    border-radius: 10px;
    margin: 5px;
}
button#yourPosition i{
    font-size: 20px;
    padding: 0 10px;
}
button#yourPosition p{
    padding: 0;
    margin: 0;
}
section.cars-nearby>a{
    display: inline-block;
    width: 98%;
    background-color: #3D067F;
    border-radius: 10px;
    margin: 5px;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    text-decoration: none;
}
#cars{
    position: relative;
    background-color: #fff;
    list-style: none;
    margin-left: 5px;
    border-radius: 10px;
    width: 80%;
}
/*---------END---app-----------*/
/*------------requestLyft-----------*/
/*#career-cars{
    position: absolute;
    bottom: 40px;
    list-style: none;
    width: 98%;
    border-radius: 10px;
    margin: 5px;
}*/
#request-lyft{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 98%;
    background-color: #FF00BF;
    border-radius: 10px;
    margin: 5px;
}
a#request-lyft{
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
}
#laboratoria{
    position: absolute;
    left: 0;
    top: 0px;
}
/*#career-cars li:first-child{
    background-color: #F3F3F5;
}*/
section.career-cars{
    border-radius: 10px;
    position: absolute;
    bottom: 45px;
    right: 0;
    left: 0;
    width: 98%;    
    margin: 5px;
}
hr{
    margin: 8px;
    color: #F3F3F5;
}
/*---------END---requestLyft-----------*/

